<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js"></script>
  </head>
  <body>

    <h2 class="title">Wat is de hoofdstad van België?</h2>
    <form action="/quiz" method="POST">
      <input class="btn" type="text" name="antwoord" required />
      <button class="btn" type="submit">Versturen</button>
    </form>
  </body>
</html>
